body {
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.sidebar {
    flex: 1;
    height: 100vh;
    padding: 40px;
    background-color: black;
    align-items: center;
    color: white;

}

.maincontent {
    flex: 2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width:768px) {
    .sidebar {
        display: none
    }
}